.b50m{
  font-weight: bolder;
}
.b25m{
  font-style: italic;
}
.stroke{

}

.times{
//max-width: 400px;
  text-overflow-ellipsis: '...';
}
tr:nth-child(odd){
  background-color: rgba(7, 63, 138, 0.2);
}
table,button{
  margin:10px;
}
