.b50m{
  font-weight: bolder;
}
.b25m{
  font-style: italic;
}
.stroke{

}
.points:hover{
  font-weight: bolder;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.times{
  text-overflow-ellipsis: '...';
}
tr:nth-child(odd){
  background-color: rgba(7, 63, 138, 0.2);
}
table,button{
  margin:10px;
}
