<div>
  {{athlete.name}}
  <button mat-raised-button color="accent" (click)="showYear('2024')">2024</button>
  <button mat-raised-button color="accent" (click)="showYear('2023')">2023</button>
  <button mat-raised-button color="warn" (click)="import(athlete.swimRankingId)">refresh import</button>
</div>
<table>
  <tr *ngFor="let stroke of strokes">
    <td class="stroke">{{stroke.stroke.name}}</td>
    <td class="times">
      <span *ngFor="let time of stroke.times | async"
            (click)="openDialog(time)"
            [ngClass]="'b'+time.competition.course">
        {{time.time}},
      </span>
    </td>
  </tr>
</table>
